<ion-header>
  <ion-toolbar>
    <ion-title>
      Insertar datos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<h1 style="text-align: center;">Eneko Simon</h1>
	<input type="text" placeholder="Formacion academica" style="margin: 5%"><br>
	<input type="text" placeholder="Formacion profesional" style="margin: 5%"><br>
	<input type="text" placeholder="Formacion idiomas" style="margin: 5%"><br>
	<ion-button color="dark" style="font-weight: bolder;">Actualizar</ion-button>
</ion-content>
