<ion-header>
  <ion-toolbar>
    <ion-title>
      Curriculum: Eneko Simon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/Toxic_minds.jpg" style="width: 65%; height: 65%;margin-left: 17%;"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Diseñador de aplicaciones web</ion-card-subtitle>
        <ion-card-title>Eneko Simon</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><i>"Mas que diseñar aplicaciones web, me gusta pensar que diseño vidas"</i><br>~Eneko Simon, filosofo pensador.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-item>
        <ion-icon slot="start" name="bookmarks" style="color: purple"></ion-icon>
        <ion-label style="border-bottom: 2px solid black;border-top: 2px solid black;">Formacion academica</ion-label>
      </ion-item>
      <ion-label style="margin-left: 20%;"><b>2016 - 2018</b></ion-label><br>
      <ion-label style="margin-left: 20%;">Sistemas microinformaticos y redes</ion-label>
      <ion-item>
        <ion-icon slot="start" name="briefcase" style="color: rgb(117, 61, 1);"></ion-icon>
        <ion-label style="border-bottom: 2px solid black;border-top: 2px solid black;">Experiencia profesional</ion-label>
      </ion-item>
      <ion-label style="margin-left: 20%;"><b>Marzo 2018- Junio 2018</b></ion-label><br>
        <ion-label style="margin-left: 20%;">Practicas en Sermicro</ion-label>
      <ion-item>
        <ion-icon slot="start" color="black" name="globe"></ion-icon>
        <ion-label style="border-bottom: 2px solid black;border-top: 2px solid black;">Idiomas</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="checkmark" style="color: green;margin-left: 15%;"></ion-icon>
        <ion-label style="margin-left: 2%;">Euskera <b>avanzado</b></ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="checkmark" style="color: green;margin-left: 15%;"></ion-icon>
        <ion-label style="margin-left: 2%;">Ingles <b>avanzado</b></ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="checkmark" style="color: green;margin-left: 15%;"></ion-icon>
        <ion-label style="margin-left: 2%;">Castellano <b>avanzado</b></ion-label>
      </ion-item>
    </ion-list>
</ion-content>